/*  colour: Grayscale */
/*colour: Color*/
/*global: Main*/
#banner {
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 557px;
  background: #f05a28;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
#banner.home {
  background: #f05a28;
}
#banner.company {
  background: #f05a28;
}
#banner.people {
  background: #f05a28;
}
#banner.careers {
  background: #f05a28;
}
#banner.design {
  background: #5f5ca9;
}
#banner.technology {
  background: #58c0a2;
}
#banner.community {
  background: #ea3d67;
}
@media only screen and (max-width: 1174px) {
  #banner {
    height: 345px;
  }
}
@media only screen and (max-width: 900px) {
  #banner {
    height: 255px;
  }
}
@media only screen and (max-width: 767px) {
  #banner {
    height: 235px;
  }
}
@media only screen and (max-width: 600px) {
  #banner {
    height: 220px;
  }
}
@media only screen and (max-width: 530px) {
  #banner {
    height: 200px;
  }
}
#banner .banner-text {
  position: relative;
  max-width: 935px;
  margin: 0 auto;
  padding-top: 231px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  font-family: "Plantin";
  font-weight: bold;
  font-size: 3.6em;
  line-height: 60px;
  letter-spacing: -2.3px;
  -webkit-font-feature-settings: "kern", "liga", "case";
  /* No variation */
  -moz-font-feature-settings: "kern=1", "liga=1", "case=1";
  /* Firefox 4.0 to 14.0 */
  -moz-font-feature-settings: "kern", "liga", "case";
  /* Firefox 15.0 onwards */
  -moz-font-feature-settings: "kern" 1, "liga" 1, "case" 1;
  /* Firefox 15.0 onwards explicitly set feature values */
  font-feature-settings: "kern", "liga", "case";
  /* No variation */
  -webkit-font-smoothing: antialiased;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
#banner .banner-text p {
  margin: 0;
  padding: 0 10px;
}
#banner .banner-text:before {
  content: '';
  display: block;
  position: absolute;
  width: 660px;
  height: 500px;
  top: -220px;
  left: 550px;
  background-image: url(../../images/Banner-Doodle-Top.png);
  background-size: 677px;
  background-repeat: no-repeat;
}
#banner .banner-text:after {
  content: '';
  display: block;
  position: absolute;
  width: 660px;
  height: 127px;
  top: 430px;
  left: -490px;
  background-image: url(../../images/Banner-Doodle-Bottom.png);
  background-size: 677px;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1174px) {
  #banner .banner-text {
    font-size: 3.3em;
    padding-top: 90px;
    width: 855px;
    line-height: 56px;
  }
}
@media only screen and (max-width: 900px) {
  #banner .banner-text {
    font-size: 2.5em;
    padding: 60px 20px 0;
    letter-spacing: -1.7px;
    width: 90%;
    line-height: 45px;
  }
  #banner .banner-text:before,
  #banner .banner-text:after {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  #banner .banner-text {
    padding-top: 60px;
    font-size: 2em;
    letter-spacing: -1.1px;
    width: 95%;
    line-height: 36px;
  }
}
@media only screen and (max-width: 600px) {
  #banner .banner-text {
    font-size: 1.8em;
    letter-spacing: -1.1px;
    width: 97%;
    line-height: 33px;
  }
}
@media only screen and (max-width: 530px) {
  #banner .banner-text {
    padding-top: 40px;
    font-size: 1.7em;
    letter-spacing: -1.1px;
    width: 100%;
    line-height: 30px;
  }
}
@media only screen and (max-width: 360px) {
  #banner .banner-text {
    font-size: 1.5em;
  }
}
