/*  colour: Grayscale */
/*colour: Color*/
/*global: Main*/
.footer {
  background-color: black;
  color: white;
  padding-top: 44px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}
@media screen and (max-width: 650px) {
  .footer {
    padding-top: 0;
  }
}
.footer .contact-info {
  position: relative;
  width: 650px;
  margin: 0 auto;
  background-color: #232323;
}
.footer .contact-info .email-us,
.footer .contact-info .call-us {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  width: 50%;
}
.footer .contact-info .email-us:last-of-type,
.footer .contact-info .call-us:last-of-type {
  width: 49%;
  border-left: 1px solid #484848;
}
.footer .contact-info .email-us h3,
.footer .contact-info .call-us h3 {
  font-family: "TradeGothic";
  font-weight: normal;
  font-size: 16px;
  color: #b0b0b0;
  margin-bottom: 0;
  margin-top: 0;
}
.footer .contact-info .email-us p,
.footer .contact-info .call-us p {
  font-family: "Plantin";
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (max-width: 650px) {
  .footer .contact-info {
    width: 100%;
  }
  .footer .contact-info .email-us,
  .footer .contact-info .call-us {
    width: 100%;
    display: block;
  }
  .footer .contact-info .email-us:last-of-type,
  .footer .contact-info .call-us:last-of-type {
    width: 100%;
    border-left: none;
  }
  .footer .contact-info .email-us {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .footer .contact-info .call-us {
    padding-bottom: 30px;
  }
}
.footer .additional-info {
  margin: 125px auto 0;
  padding-bottom: 20px;
  width: 991px;
  font-family: TradeGothic;
}
.footer .additional-info h3 {
  font-size: 15px;
  margin-top: 0;
}
@media screen and (max-width: 1024px) {
  .footer .additional-info {
    width: 650px;
    margin-top: 110px;
  }
}
@media screen and (max-width: 767px) {
  .footer .additional-info {
    margin-top: 40px;
  }
}
@media screen and (max-width: 650px) {
  .footer .additional-info {
    width: 100%;
    margin-top: 30px;
  }
}
.footer .contact {
  display: inline-block;
  position: relative;
  height: 75px;
  padding: 0 30px 10px 20px;
  border-right: 1px solid #555;
  width: 170px;
  margin-bottom: 50px;
}
.footer .contact h3 {
  display: block;
  font-size: 15px;
  font-weight: normal;
  color: white;
}
.footer .contact ul.social-media-footer {
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}
.footer .contact ul.social-media-footer li {
  display: inline-block;
  margin-right: 10px;
}
.footer .contact ul.social-media-footer li a {
  display: inline-block;
  position: relative;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  width: 23px;
  height: 23px;
  background: url(../images/spritempd.png) 0 0 no-repeat;
  background-size: 533px;
}
.footer .contact ul.social-media-footer li a:after {
  content: '';
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  background: url(../images/spritempd.png) 0 0 no-repeat;
  background-size: 533px;
  opacity: 0.01;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.footer .contact ul.social-media-footer li a:hover:after {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.footer .contact ul.social-media-footer li a.twitter {
  background-position: -104px -225px;
}
.footer .contact ul.social-media-footer li a.twitter:after {
  background-position: -104px -248px;
}
.footer .contact ul.social-media-footer li a.facebook {
  background-position: -141px -224px;
}
.footer .contact ul.social-media-footer li a.facebook:after {
  background-position: -141px -248px;
}
.footer .contact ul.social-media-footer li a.dribbble {
  background-position: -178px -224px;
}
.footer .contact ul.social-media-footer li a.dribbble:after {
  background-position: -178px -248px;
}
.footer .contact ul.social-media-footer li a.drupal {
  background-position: -215px -224px;
}
.footer .contact ul.social-media-footer li a.drupal:after {
  background-position: -215px -248px;
}
.footer .contact ul.social-media-footer li a.linkedin {
  background-position: -253px -224px;
}
.footer .contact ul.social-media-footer li a.linkedin:after {
  background-position: -253px -248px;
}
@media screen and (max-width: 1024px) {
  .footer .contact {
    height: 280px;
    float: left;
  }
  .footer .contact ul.social-media-footer {
    bottom: 150px;
  }
}
@media screen and (max-width: 767px) {
  .footer .contact {
    height: 200px;
  }
  .footer .contact:before {
    display: none;
  }
  .footer .contact ul.social-media-footer {
    bottom: 83px;
  }
}
@media screen and (max-width: 650px) {
  .footer .contact {
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    float: none;
  }
  .footer .contact ul.social-media-footer {
    display: block;
    position: static;
    margin-top: 20px;
  }
}
.footer .address {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 100px;
  width: 187px;
}
.footer .address a {
  text-decoration: none;
}
.footer .address:last-of-type {
  padding-right: 0;
}
.footer .address:before {
  content: '';
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  background: url(../images/spritempd.png) -127px -109px no-repeat;
  background-size: 525px;
}
.footer .address.toronto {
  width: 125px;
}
.footer .address.toronto:before {
  top: -74px;
  width: 62px;
  height: 64px;
}
.footer .address.vancouver {
  width: 160px;
}
.footer .address.vancouver:before {
  height: 44px;
  top: -54px;
  left: 23px;
  background-position: -205px -124px;
}
.footer .address.chernihiv {
  width: 140px;
}
.footer .address.chernihiv:before {
  top: -64px;
  left: 21px;
  height: 56px;
  background-position: -273px -113px;
}
.footer .address.chicago {
  width: 150px;
}
.footer .address.chicago:before {
  top: -63px;
  left: 13px;
  height: 56px;
  background-position: -329px -110px;
}
.footer .address h3 {
  font-weight: normal;
  font-size: 15px;
}
.footer .address span {
  display: block;
  color: #5b5b5b;
  font-size: 15px;
}
@media screen and (max-width: 1024px) {
  .footer .address {
    padding-left: 38px;
    width: 210px;
  }
  .footer .address.toronto:before {
    left: 34px;
  }
  .footer .address.vancouver:before {
    left: 42px;
  }
  .footer .address.chernihiv:before {
    left: 39px;
  }
  .footer .address.chicago:before {
    left: 35px;
  }
}
@media screen and (max-width: 767px) {
  .footer .address {
    margin-bottom: 20px;
  }
  .footer .address:before {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .footer .address {
    text-align: center;
    padding: 0;
  }
  .footer .address.toronto,
  .footer .address.chicago,
  .footer .address.chernihiv,
  .footer .address.vancouver {
    width: 100%;
  }
}
